<!--- basic page needs
    ================================================== -->
<meta charset="utf-8">
<title>{{page.title}}</title>
<meta name="description" content="{{page.description}}">
<meta name="author" content="">

<!-- mobile specific metas
    ================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- CSS
    ================================================== -->
<link rel="stylesheet" href="/css/vendor.css">
<link rel="stylesheet" href="/css/styles.css">

<!-- script
    ================================================== -->
<script src="/js/modernizr.js"></script>
<script defer src="/js/fontawesome/all.min.js"></script>
<!-- favicons
    ================================================== -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">

<!-- Matomo -->
<script type="text/javascript">
	var _paq = window._paq = window._paq || [];
	/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
	_paq.push(['trackPageView']);
	_paq.push(['enableLinkTracking']);
	(function () {
		var u = "https://analytics.adriancedwards.com/";
		_paq.push(['setTrackerUrl', u + 'matomo.php']);
		_paq.push(['setSiteId', '12']);
		var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
		g.type = 'text/javascript'; g.async = true; g.src = u + 'matomo.js'; s.parentNode.insertBefore(g, s);
	})();
</script>
<!-- End Matomo Code -->