<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
	{% include head.html %}
</head>

<body id="top">


	<!-- preloader
    ================================================== -->
	<div id="preloader">
		<div id="loader" class="dots-fade">
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>


	<!-- header
    ================================================== -->
	{% include header.html %}

	
	{{ content }}
	<!-- footer
	    ================================================== -->
	
	{% include footer.html %}


	<!-- Java Script
	    ================================================== -->
	{% include footerjs.html %}
	
</body>