---
layout: single
---
<!-- page header
        ================================================== -->
<div class="s-pageheader">
	<div class="row">
		<div class="column large-12">
			<h1 class="page-title">
				{% if page.showcase-type %}
				<span class="page-title__small-type">{{page.showcase-type | capitalize}}</span>
				{% endif %}
				{{page.showcase-list.name | capitalize}}
			</h1>
		</div>
	</div>
</div> <!-- end s-pageheader-->


<!-- masonry
        ================================================== -->
<div class="s-bricks s-bricks--half-top-padding">

	<div class="masonry">
		<div class="bricks-wrapper h-group">

			<div class="grid-sizer"></div>

			<div class="lines">
				<span></span>
				<span></span>
				<span></span>
			</div>

			{{content}}

		</div> <!-- end brick-wrapper -->

	</div> <!-- end masonry -->



</div> <!-- end s-bricks -->